h1 {
    color: red;
    text-align: center;
    text-weight: 100px;
}
body {
      background-image: url('123.jpg');
      color: rgb(241, 148, 8);
}
.navbar{
    color: red;
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    justify-content: flex-start;
    justify-content: space-between;
    
}
navbar::hover{
    color: green;
}
.details {
    text-align: left;
    padding: 20px;
    margin: 20px;
    display: flex-row;
}
.copyright {
    color: red;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    justify-content: space-between;
    /* flex-direction: ; */
    display: flex-start;
    justify-content: space-between;
}
h2 {
    text-align: center;
}
p{
    text-align: center;
    padding: 40px 40px 40px 40px;
}
footer {
    text-align: center;
    padding: 50px;
    list-style-type: none;
}
button{
    color: red;
    background-color: pink;
}
nav {
    text-align: center;
}
a {
    text-decoration: none;
    text-emphasis: none;
    color: red;
}