h1 {
    color: red;
    text-align: center;
    text-weight: 100px;
}
body {
    /* background-image: url('123.jpg'); */
}
#navbar {
    color: red;
    text-align: center;
    display: flex;
    padding: 50px;
    cursor: pointer;
    
}
navbar;:hover{
    color: green;
}
.details {
    text-align: left;
    padding: 20px;
    margin: 20px;
    display: flex-row;
}
.copyright {
    display: flex-between;
    color: blue;
    padding: 40px;
    margin: 40px 40px 40px 40px;
    text-align: center;
}
h2 {
    text-align: center;
}
p{
    text-align: center;
    padding: 40px 40px 40px 40px;
}
footer {
    text-align: center;
    padding: 40px 40px 40px 40px;
}
button{
    color: red;
    background-color: pink;
}