 body{ 
    background-color: blue;
   
    background-image: url('123.jpg');
      
}

button {
    color: rgb(255, 0, 0);
    background-color: #ffff00;
}
    
    /* *{
        color: blue;
    }
    #F{
        color: red;
    }
     */

     .f{
        color: red;
     }